body {
	padding-top: 70px;
}

textarea {
	resize: vertical;
}

a {
	cursor: pointer;
}

#code .panel-heading {
	padding: 5px 5px 0 5px;
}

#code .nav-tabs {
	border-bottom: 0;
}

#cpu-memory th,
#cpu-memory td {
	text-align: center;
}

.source-code {
	font-family: monospace, monospace;
}

.output span,
.output-bg {
	background-color: #dfdfdf;
}

.output {
	margin: 4px;
}

.output span {
	font-size: 120%;
	display: inline-block;
	width: 1em;
	margin-right: 1px;
	text-align: center;
}

.instr-bg {
	background-color: #e6f3ff;
}

.instr-bg a {
	color: inherit;
	cursor: pointer;
}

.stack-bg {
	background-color: #f8dcb4;
}

.memory-block {
	font-size: 85%;
	width: 3.125%;
	min-width: 1.5em;
	display: inline-block;
	text-align: center;
}

.marker {
	color: #fff;
	border-radius: 2px;
}

.marker-ip {
	background-color: #428bca;
}

.marker-sp {
	background-color: #eea236;
}

.marker-a {
	background-color: #4d8c20;
}

.marker-b {
	background-color: #22d19d;
}

.marker-c {
	background-color: #a137ed;
}

.marker-d {
	background-color: #e81f1f;
}
