<!DOCTYPE html>
<html data-ng-app="asmsimulator">
<head>
    <meta charset="UTF-8">
    <title>Simple 16-bit Assembler Simulator in Javascript</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="asmsimulator.css">
</head>
<body data-ng-controller="Ctrl">
    <nav class="navbar navbar-inverse" role="navigation" style="background-color:#428BCA;border:0px;border-radius:0px;">
        <div class="container-fluid">
            <div class="navbar-header form-inline">
                <div class="form-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success navbar-btn" data-ng-click="run()" data-ng-hide="isRunning">▶️ Run</button>
                        <button type="button" class="btn btn-default navbar-btn" data-ng-click="stop()" data-ng-show="isRunning">⏸ Pause</button>
                        <button type="button" class="btn btn-default navbar-btn" data-ng-click="executeStep()" data-ng-disabled="isRunning">⮎ Step</button>
                    </div>
                    <button type="button" class="btn btn-default navbar-btn" data-ng-click="reset()">↺ Reset</button>
                    <div class="input-group">
                        <div class="input-group-addon">Clock speed</div>
                        <select data-ng-model="speed" data-ng-options="item.speed as item.desc for item in speeds" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="navbar-header navbar-right">
                <a href="instruction-set.html" target="_blank" class="btn btn-default navbar-btn">💡 Help</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="alert alert-danger" data-ng-show="error">{{ error }}</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Code</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <textarea id="sourceCode" class="form-control source-code" style="margin-bottom:5px;" rows="35" data-tab-support data-select-line data-ng-model="code"></textarea>
                            <button type="button" class="btn btn-default" data-ng-click="assemble()">Assemble</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Output</h4>
                    </div>
                    <div class="panel-body source-code">
                        <div style="float:left;" class="output"
                             data-ng-repeat="m in memory.data | startFrom: outputStartIndex track by $index">
                            <span>{{ getChar(m) }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">CPU & Memory</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped" style="margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th style="text-align:center">A</th>
                                    <th style="text-align:center">B</th>
                                    <th style="text-align:center">C</th>
                                    <th style="text-align:center">D</th>
                                    <th style="text-align:center">IP</th>
                                    <th style="text-align:center">SP</th>
                                    <th style="text-align:center">Z</th>
                                    <th style="text-align:center">C</th>
                                    <th style="text-align:center">F</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;" data-ng-class="displayA && 'marker marker-a'"><small>{{ cpu.gpr[0] | number:displayHex:4 }}</small></div></td>
                                    <td><div style="margin:auto;" data-ng-class="displayB && 'marker marker-b'"><small>{{ cpu.gpr[1] | number:displayHex:4 }}</small></div></td>
                                    <td><div style="margin:auto;" data-ng-class="displayC && 'marker marker-c'"><small>{{ cpu.gpr[2] | number:displayHex:4 }}</small></div></td>
                                    <td><div style="margin:auto;" data-ng-class="displayD && 'marker marker-d'"><small>{{ cpu.gpr[3] | number:displayHex:4 }}</small></div></td>
                                    <td><div style="margin:auto;" class="marker marker-ip"><small>{{ cpu.ip | number:displayHex:4 }}</small></div></td>
                                    <td><div style="margin:auto;" class="marker marker-sp"><small>{{ cpu.sp | number:displayHex:4 }}</small></div></td>
                                    <td><small>{{ cpu.zero | flag }}</small></td>
                                    <td><small>{{ cpu.carry | flag }}</small></td>
                                    <td><small>{{ cpu.fault | flag }}</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">RAM</h4>
                    </div>
                    <div class="panel-body">
                        <div class="source-code memory-dump">
                            <div class="memory-block"
                                 data-ng-repeat="m in memory.data track by $index"
                                 data-ng-class="getMemoryCellCss($index)">
                                 <div data-ng-class="getMemoryInnerCellCss($index)" data-ng-switch="isInstruction($index)">
                                     <small data-ng-switch-default>{{ m | number:displayHex:2 }}</small>
                                     <a data-ng-switch-when="true" data-ng-click="jumpToLine($index)">
                                         <small>{{ m | number:displayHex:2 }}</small>
                                     </a>
                                 </div>
                            </div>
                        </div>
                        <p style="margin-top:5px;">
                            <small>
                                Instructions:
                                <a data-ng-click="displayInstr = true" data-ng-hide="displayInstr">Show</a>
                                <a data-ng-click="displayInstr = false" data-ng-show="displayInstr">Hide</a>
                                <br>
                                View:
                                <a data-ng-click="displayHex = true" data-ng-hide="displayHex">Hex</a>
                                <a data-ng-click="displayHex = false" data-ng-show="displayHex">Decimal</a>
                                <br>
                                Register addressing: 
                                <span style="margin-left:5px;">A:</span>
                                <a data-ng-click="displayA = true" data-ng-hide="displayA">Show</a>
                                <a data-ng-click="displayA = false" data-ng-show="displayA">Hide</a>
                                <span style="margin-left:5px;">B:</span>
                                <a data-ng-click="displayB = true" data-ng-hide="displayB">Show</a>
                                <a data-ng-click="displayB = false" data-ng-show="displayB">Hide</a>
                                <span style="margin-left:5px;">C:</span>
                                <a data-ng-click="displayC = true" data-ng-hide="displayC">Show</a>
                                <a data-ng-click="displayC = false" data-ng-show="displayC">Hide</a>
                                <span style="margin-left:5px;">D:</span>
                                <a data-ng-click="displayD = true" data-ng-hide="displayD">Show</a>
                                <a data-ng-click="displayD = false" data-ng-show="displayD">Hide</a>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Labels</h4>
                    </div>
                    <div class="panel-body source-code">
                        <table class="table table-condensed table-striped codelabels">
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Value</th>
                            </tr>
                            <tr data-ng-repeat="(name, value) in labels" class="codelabel">
                                <td class="codelabel-name">{{ name }}</td>
                                <td class="codelabel-line"><a data-ng-click="jumpToLine(value)">{{ value | number:displayHex:4 }}</a></td>
                                <td class="codelabel-value">{{ memory.data[value] | number:displayHex:2 }}
                                    <span data-ng-if="memory.data[value] >= 32 && memory.data[value] <= 126">
                                        ('{{ getChar(memory.data[value]) }}')
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="angular.js"></script>
    <script src="asmsimulator.js"></script>
</body>
</html>
